<h1>Test Handlebars</h1>

{{#if locals.data.length}}
{{#each locals.data}}
<p>
	{{this.score}}, {{this.name}}
</p>
{{/each}}
{{/if}}

<form action="/logout" method="post">
	<button type="submit">LOGOUT</button>
</form>