<h2>My votes</h2>
{{#if locals.data.length}}
{{#each locals.data}}
<p>
	{{this.score}}
	<a href="/movie?id={{this.mID}}">{{this.name}}</a>
</p>
{{/each}}
{{else}}
<p>No votes yet</p>
{{/if}}

<form action="/logout" method="post">
	<button type="submit">LOGOUT</button>
</form>